
/* Navbar  CSS */

#logo {
  font-size: 22px;
  margin-left: 20px;
}


/* Main content on first page  CSS */
#timu {
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  margin-top: 170px;
  color: #ee6e73;
}

#purely {
  text-align: center;
  color: #ee6e73;
  font-weight: 300;
  margin-top: 60px;
}


/* Sticky footer CSS */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  /* Sticky footer ends */


  /* Journal page navbar CSS */
  #greeting {
    margin-left: 20px;
    font-size: 25px;
  }

  /* Journal page CSS */
  .journalFirstRow {
    margin-top: 25px;
  }

  #activityList {
    margin-top: 35px;
    overflow-y:scroll;
    overflow-x:hidden;
    height:400px;
  }

  /* skillset page CSS */

   #searchBar {
     margin-top: 30px;
   }

   #first {
     width: 100%;
   }
